 <nav>
        <ul class="navbar">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
           
            <li><a href="/contact">Contact</a></li>
             <li><a href="/signup">SignUp</a></li>
              <li><a href="/login">Login</a></li>
            <li><a href="/shop">Shop</a></li>
                          <li><a href="/category">categories</a></li>
                                        <li><a href="/sellitem">Sell-item</a></li>



              
        </ul>
    </nav>